.RecipientCard {
  margin: 10px 0px;
  text-align: center;
  font-size: 16px;
  padding: 0;
  /* font-weight: 400; */
  /* color: #8c60da; */
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 25px;
}

.CardTitle {
  background-color: #F2F2F2!important;
  outline: none!important;
  /* padding-top: 10px; */
  /* padding-left: 18px; */
  text-align: center;
  width: 100%;
  border: none;
  transition: 0.4s;
}

.card-title {
  margin: 0;
  padding: 1%;
}

.card {

}

.CardTitle:hover, .CardTitle:active {
  background-color: rgb(219, 219, 219)!important;
  transition: 0.4s;
}
