.buttonMain {
    position: absolute;
    top: 49%;
    left: 19.5%;
}


.buttonMain button {
    font-size: 1.5em;
    color: white;
    background-color: rgb(101, 206, 101);
    border-radius: 50px;
    padding: 15px 30px;
    border:none;
    transition: 0.4s;
}

.buttonMain button:hover {
    background-color: aqua;
    transition: 0.4s;
}