.message-list{
  /* background-color: lightgray; */
  margin: 0 0 0 0;
}

.Active-Messages {
  background-color: #2facc9;
  color: white;
  font-size: 20px;
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;

}

.MessageCard {
  margin: 2.5% 0;
}

.Card {
  margin-top: 5%;
  border-radius: 10px;
}

.Card-Body {
  padding: 0 2.5%;
  margin: 1% 2.5%;
}